@import 'variables.less';

* {
  margin: 0;
  padding: 0;
}

html,
body,
.container {
  height: 100%;
}

.container {
  display: table;
  width: 100%;
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  .row {
    height: 100%;
    display: table-row;
  }

  .ux-panel {
    background: @color1;
    display: table-cell;
    float: none;
    width: 25%;
  }

  .ux-content {
    background: #ddd;
    float: none;
    display: table-cell;
    width: 75%;
  }

  .nav {
    &.ux-tab-left {

    }

    &.ux-tab-right {

    }
  }

}