* {
  margin: 0;
  padding: 0;
}
html,
body,
.container {
  height: 100%;
}
.container {
  display: table;
  width: 100%;
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container .row {
  height: 100%;
  display: table-row;
}
.container .ux-panel {
  background: #eeeeee;
  display: table-cell;
  float: none;
  width: 25%;
}
.container .ux-content {
  background: #ddd;
  float: none;
  display: table-cell;
  width: 75%;
}
